.carte-region svg{
    max-width: 300px;
    width:100%;
    height:auto;
}
body{
    font-family: 'Roboto', sans-serif;
}

.header{
    padding: 60px;
    text-align: center;
    background-color: #3D2894;
    color: white;
    font-size: 30px;
}