{% extends 'base.html.twig' %}

{% block title %}Edit Region{% endblock %}

{% block body %}
    <h1>Edit Région</h1>

    {{ include('back/region_back/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('region_back') }}">back to list</a>

    {{ include('back/region_back/_delete_form.html.twig') }}
{% endblock %}
